.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form{
	max-width: 500px;
	width: 100%;
}

button{
	width: 100%;
}
a{
	margin-top:1opx;
	color:black;
	
}


a : hover{
	color: darked;
}